* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color_black: #000000;
  --color_white: #ffffff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color_black);
}
